@model Forecast

<div>
    <ul>
        <li>Температура: @Model.Temperature</li>
        <li>Влажность: @Model.Humidity</li>
        <li>Направление ветра: @Model.WindDirection</li>
        <li>Скорость ветра: @Model.WindSpeed</li>
    </ul>
</div>
